@{
    Layout = "_Layout";
    ViewData["Title"] = "Inicio del Juego";
}

<h2>Bienvenido a Manticora</h2>
<p>Haz clic en el botón de abajo para iniciar el juego.</p>
<form asp-action="SelectCharacter">
    <button type="submit">Iniciar Juego</button>
</form>